<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login to CollectionLedger</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
  <div class="card my-auto shadow-lg p-4 col-12 col-md-6">
    <div class="card-body">
      <h1 class="card-title text-center">Login to your account</h1>
      <form th:action="@{/login}" method="post" class="">
        <div th:if="${param.error}">
          Invalid Email and Password.
        </div>
        <div class="mb-3">
          <label class="form-label" for="email">Email:</label>
          <input type="email" name="email" id="email" required class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password:</label>
          <input type="password" name="password" id="password" required class="form-control">
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-center text-bg-dark">
      Don&apos;t have an account?, <a href="/signup" class="text-decoration-none">Signup here</a>
    </div>
  </div>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
